# Web Service Url      # Basic Login # Basic Password # Check SSL Cert # Normal status code #
########################################################################################
https://aagt.ru        ;             ;                ; 1              ; 200
http://aagt.ru         ;             ;                ; 1              ; 301
########################################################################################
https://git.bds.su     ;             ;                ; 1              ; 200
http://git.bds.su      ;             ;                ; 1              ; 301
########################################################################################
https://cloud.aagt.ru  ;             ;                ; 1              ; 200
http://cloud.aagt.ru   ;             ;                ; 1              ; 301